--
-- PostgreSQL database dump
--

\restrict QKLt7Hz7QlfqzSNEze8JBdHKUMpLNeZxoCXBRKRL7z5HBEDcPSMKakQYTuMnUMU

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: grafica_user
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO grafica_user;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: grafica_user
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: grafica_user
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO grafica_user;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: grafica_user
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: grafica_user
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO grafica_user;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: grafica_user
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: grafica_user
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO grafica_user;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: grafica_user
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO grafica_user;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: grafica_user
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: grafica_user
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: grafica_user
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO grafica_user;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: grafica_user
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_cliente; Type: TABLE; Schema: public; Owner: grafica_user
--

CREATE TABLE public.core_cliente (
    id bigint NOT NULL,
    nome character varying(200) NOT NULL,
    email character varying(254),
    telefone character varying(20),
    cpf_cnpj character varying(18),
    data_cadastro timestamp with time zone,
    observacao text,
    cep character varying(10),
    endereco character varying(255),
    numero character varying(10),
    bairro character varying(100),
    cidade character varying(100),
    estado character varying(2)
);


ALTER TABLE public.core_cliente OWNER TO grafica_user;

--
-- Name: core_cliente_id_seq; Type: SEQUENCE; Schema: public; Owner: grafica_user
--

ALTER TABLE public.core_cliente ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_cliente_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_despesa; Type: TABLE; Schema: public; Owner: grafica_user
--

CREATE TABLE public.core_despesa (
    id bigint NOT NULL,
    descricao character varying(255) NOT NULL,
    valor numeric(10,2) NOT NULL,
    data date NOT NULL,
    categoria character varying(100)
);


ALTER TABLE public.core_despesa OWNER TO grafica_user;

--
-- Name: core_despesa_id_seq; Type: SEQUENCE; Schema: public; Owner: grafica_user
--

ALTER TABLE public.core_despesa ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_despesa_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_empresa; Type: TABLE; Schema: public; Owner: grafica_user
--

CREATE TABLE public.core_empresa (
    id bigint NOT NULL,
    nome_empresa character varying(200) NOT NULL,
    razao_social character varying(200),
    cnpj character varying(18),
    email character varying(254),
    whatsapp character varying(20),
    instagram character varying(100),
    site character varying(255),
    cep character varying(10),
    endereco character varying(255),
    numero character varying(20),
    bairro character varying(100),
    complemento character varying(100),
    cidade character varying(100),
    estado character varying(2),
    logo_grande_dashboard character varying(100),
    logo_pequena_dashboard character varying(100),
    logo_orcamento_pdf character varying(100)
);


ALTER TABLE public.core_empresa OWNER TO grafica_user;

--
-- Name: core_empresa_id_seq; Type: SEQUENCE; Schema: public; Owner: grafica_user
--

ALTER TABLE public.core_empresa ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_empresa_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_itemorcamento; Type: TABLE; Schema: public; Owner: grafica_user
--

CREATE TABLE public.core_itemorcamento (
    id bigint NOT NULL,
    quantidade integer NOT NULL,
    largura numeric(10,2),
    altura numeric(10,2),
    subtotal numeric(10,2) NOT NULL,
    descricao_customizada character varying(255),
    orcamento_id bigint NOT NULL,
    produto_id bigint,
    CONSTRAINT core_itemorcamento_quantidade_check CHECK ((quantidade >= 0))
);


ALTER TABLE public.core_itemorcamento OWNER TO grafica_user;

--
-- Name: core_itemorcamento_id_seq; Type: SEQUENCE; Schema: public; Owner: grafica_user
--

ALTER TABLE public.core_itemorcamento ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_itemorcamento_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_itempedido; Type: TABLE; Schema: public; Owner: grafica_user
--

CREATE TABLE public.core_itempedido (
    id bigint NOT NULL,
    quantidade integer NOT NULL,
    largura numeric(10,2),
    altura numeric(10,2),
    descricao_customizada character varying(255),
    subtotal numeric(10,2) NOT NULL,
    pedido_id bigint NOT NULL,
    produto_id bigint,
    CONSTRAINT core_itempedido_quantidade_check CHECK ((quantidade >= 0))
);


ALTER TABLE public.core_itempedido OWNER TO grafica_user;

--
-- Name: core_itempedido_id_seq; Type: SEQUENCE; Schema: public; Owner: grafica_user
--

ALTER TABLE public.core_itempedido ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_itempedido_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_orcamento; Type: TABLE; Schema: public; Owner: grafica_user
--

CREATE TABLE public.core_orcamento (
    id bigint NOT NULL,
    data_criacao timestamp with time zone NOT NULL,
    valor_total numeric(10,2) NOT NULL,
    status character varying(50) NOT NULL,
    cliente_id bigint NOT NULL
);


ALTER TABLE public.core_orcamento OWNER TO grafica_user;

--
-- Name: core_orcamento_id_seq; Type: SEQUENCE; Schema: public; Owner: grafica_user
--

ALTER TABLE public.core_orcamento ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_orcamento_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_pagamento; Type: TABLE; Schema: public; Owner: grafica_user
--

CREATE TABLE public.core_pagamento (
    id bigint NOT NULL,
    valor numeric(10,2) NOT NULL,
    data timestamp with time zone NOT NULL,
    forma_pagamento character varying(50) NOT NULL,
    pedido_id bigint NOT NULL
);


ALTER TABLE public.core_pagamento OWNER TO grafica_user;

--
-- Name: core_pagamento_id_seq; Type: SEQUENCE; Schema: public; Owner: grafica_user
--

ALTER TABLE public.core_pagamento ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_pagamento_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_pedido; Type: TABLE; Schema: public; Owner: grafica_user
--

CREATE TABLE public.core_pedido (
    id bigint NOT NULL,
    data_criacao timestamp with time zone NOT NULL,
    valor_total numeric(10,2) NOT NULL,
    status_producao character varying(50) NOT NULL,
    status_pagamento character varying(10) NOT NULL,
    previsto_entrega date,
    custo_producao numeric(10,2) NOT NULL,
    data_producao date,
    forma_envio character varying(100),
    codigo_rastreio character varying(100),
    link_fornecedor character varying(255),
    cliente_id bigint NOT NULL,
    orcamento_origem_id bigint
);


ALTER TABLE public.core_pedido OWNER TO grafica_user;

--
-- Name: core_pedido_id_seq; Type: SEQUENCE; Schema: public; Owner: grafica_user
--

ALTER TABLE public.core_pedido ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_pedido_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_produto; Type: TABLE; Schema: public; Owner: grafica_user
--

CREATE TABLE public.core_produto (
    id bigint NOT NULL,
    nome character varying(100) NOT NULL,
    tipo_precificacao character varying(5) NOT NULL,
    preco numeric(10,2) NOT NULL,
    custo numeric(10,2) NOT NULL,
    estoque_atual integer,
    estoque_minimo integer
);


ALTER TABLE public.core_produto OWNER TO grafica_user;

--
-- Name: core_produto_id_seq; Type: SEQUENCE; Schema: public; Owner: grafica_user
--

ALTER TABLE public.core_produto ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_produto_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: grafica_user
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO grafica_user;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: grafica_user
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: grafica_user
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO grafica_user;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: grafica_user
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: grafica_user
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO grafica_user;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: grafica_user
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: grafica_user
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO grafica_user;

--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: grafica_user
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: grafica_user
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: grafica_user
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: grafica_user
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
1	pbkdf2_sha256$1000000$Ry1zZ7bE66MoGOgQI1VFVl$h0eW3LLYPNjVJSnZKJqae3t/EXhwN7t/2S8Az82hQk4=	2025-11-01 12:12:28.989802+00	t	diego@mail.com			diego@mail.com	t	t	2025-11-01 12:12:14.778055+00
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: grafica_user
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: grafica_user
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: core_cliente; Type: TABLE DATA; Schema: public; Owner: grafica_user
--

COPY public.core_cliente (id, nome, email, telefone, cpf_cnpj, data_cadastro, observacao, cep, endereco, numero, bairro, cidade, estado) FROM stdin;
1	Diego		85998532868		2025-11-01 12:34:35.168441+00	teste						
2	Jamille Oliveira	jamilleoliver09@gmail.com	85994165704	09038545380	2025-11-01 20:31:45.430344+00		61932600	Luis gonzaga dos santos	55	paju├ºara	Maracanau	ce
\.


--
-- Data for Name: core_despesa; Type: TABLE DATA; Schema: public; Owner: grafica_user
--

COPY public.core_despesa (id, descricao, valor, data, categoria) FROM stdin;
2	internet	150.00	2025-11-01	internet
\.


--
-- Data for Name: core_empresa; Type: TABLE DATA; Schema: public; Owner: grafica_user
--

COPY public.core_empresa (id, nome_empresa, razao_social, cnpj, email, whatsapp, instagram, site, cep, endereco, numero, bairro, complemento, cidade, estado, logo_grande_dashboard, logo_pequena_dashboard, logo_orcamento_pdf) FROM stdin;
1	Gr├ífica Cloud Design	39.893.228 DIEGO COELHO LINS	39.893.228/0001-93	cloudgraficarapida1@gmail.com	85998532868	@cloudgraficarapida	https://www.cloudgraficarapida.com.br	61932600	Rua Luis Gonzaga dos Santos	555	Paju├ºara	AP 202 BL 24	Maracana├║	CE	logos/preto_Bu5Ydh3.png	logos/Ativo_4_aht0xxr.png	logos/preto_Q83Yq7Z.png
\.


--
-- Data for Name: core_itemorcamento; Type: TABLE DATA; Schema: public; Owner: grafica_user
--

COPY public.core_itemorcamento (id, quantidade, largura, altura, subtotal, descricao_customizada, orcamento_id, produto_id) FROM stdin;
1	1	\N	\N	1.00	\N	1	1
2	1	\N	\N	20.00	Arte	1	\N
3	1	\N	\N	50.00	teste	2	\N
\.


--
-- Data for Name: core_itempedido; Type: TABLE DATA; Schema: public; Owner: grafica_user
--

COPY public.core_itempedido (id, quantidade, largura, altura, descricao_customizada, subtotal, pedido_id, produto_id) FROM stdin;
9	1	\N	\N	\N	1.00	1	1
10	1	\N	\N	Arte	20.00	1	\N
12	1	\N	\N	teste	50.00	2	\N
13	10	\N	\N	\N	10.00	2	1
\.


--
-- Data for Name: core_orcamento; Type: TABLE DATA; Schema: public; Owner: grafica_user
--

COPY public.core_orcamento (id, data_criacao, valor_total, status, cliente_id) FROM stdin;
1	2025-11-01 12:35:44.904414+00	21.00	Aprovado	1
2	2025-11-02 10:46:39.893404+00	50.00	Aprovado	2
\.


--
-- Data for Name: core_pagamento; Type: TABLE DATA; Schema: public; Owner: grafica_user
--

COPY public.core_pagamento (id, valor, data, forma_pagamento, pedido_id) FROM stdin;
1	21.00	2025-11-01 20:29:58.06857+00	DINHEIRO	1
\.


--
-- Data for Name: core_pedido; Type: TABLE DATA; Schema: public; Owner: grafica_user
--

COPY public.core_pedido (id, data_criacao, valor_total, status_producao, status_pagamento, previsto_entrega, custo_producao, data_producao, forma_envio, codigo_rastreio, link_fornecedor, cliente_id, orcamento_origem_id) FROM stdin;
1	2025-11-01 12:36:07.970541+00	21.00	Entregue	PAGO	2025-11-01	10.00	2025-11-01	Retirada	\N	\N	1	1
2	2025-11-02 10:46:44.347165+00	60.00	Aguardando	PENDENTE	\N	0.00	\N	\N	\N	\N	2	2
\.


--
-- Data for Name: core_produto; Type: TABLE DATA; Schema: public; Owner: grafica_user
--

COPY public.core_produto (id, nome, tipo_precificacao, preco, custo, estoque_atual, estoque_minimo) FROM stdin;
1	Impress├úo	UNICO	1.00	0.10	100000	10
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: grafica_user
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: grafica_user
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	core	cliente
8	core	despesa
9	core	empresa
10	core	produto
11	core	orcamento
12	core	pedido
13	core	pagamento
14	core	itempedido
15	core	itemorcamento
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: grafica_user
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: grafica_user
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
tpflgxvuuymmkng51t7up29lcsq44ult	.eJxVjEEOgjAQRe_StWnaOsO0Lt1zhmboDIIaSCisjHdXEha6_e-9_zKZt3XIW9Ulj2IuxpvT79Zxeei0A7nzdJttmad1GTu7K_ag1baz6PN6uH8HA9fhW_e-RIWQHGsiiKKkEBmEAjaiWAj4LNB4h9xgQh8CoVAvoD1JTM68P9_ZN5I:1vFAT7:I9uykP2UqR4MC4DL04zY4wYmlKNeoJd3lbWn38Frilk	2025-11-15 12:12:29.011825+00
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: grafica_user
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: grafica_user
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: grafica_user
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 60, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: grafica_user
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: grafica_user
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 1, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: grafica_user
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: core_cliente_id_seq; Type: SEQUENCE SET; Schema: public; Owner: grafica_user
--

SELECT pg_catalog.setval('public.core_cliente_id_seq', 2, true);


--
-- Name: core_despesa_id_seq; Type: SEQUENCE SET; Schema: public; Owner: grafica_user
--

SELECT pg_catalog.setval('public.core_despesa_id_seq', 3, true);


--
-- Name: core_empresa_id_seq; Type: SEQUENCE SET; Schema: public; Owner: grafica_user
--

SELECT pg_catalog.setval('public.core_empresa_id_seq', 1, false);


--
-- Name: core_itemorcamento_id_seq; Type: SEQUENCE SET; Schema: public; Owner: grafica_user
--

SELECT pg_catalog.setval('public.core_itemorcamento_id_seq', 3, true);


--
-- Name: core_itempedido_id_seq; Type: SEQUENCE SET; Schema: public; Owner: grafica_user
--

SELECT pg_catalog.setval('public.core_itempedido_id_seq', 13, true);


--
-- Name: core_orcamento_id_seq; Type: SEQUENCE SET; Schema: public; Owner: grafica_user
--

SELECT pg_catalog.setval('public.core_orcamento_id_seq', 2, true);


--
-- Name: core_pagamento_id_seq; Type: SEQUENCE SET; Schema: public; Owner: grafica_user
--

SELECT pg_catalog.setval('public.core_pagamento_id_seq', 1, true);


--
-- Name: core_pedido_id_seq; Type: SEQUENCE SET; Schema: public; Owner: grafica_user
--

SELECT pg_catalog.setval('public.core_pedido_id_seq', 2, true);


--
-- Name: core_produto_id_seq; Type: SEQUENCE SET; Schema: public; Owner: grafica_user
--

SELECT pg_catalog.setval('public.core_produto_id_seq', 1, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: grafica_user
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: grafica_user
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 15, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: grafica_user
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 22, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: grafica_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: grafica_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: grafica_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: grafica_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: grafica_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: grafica_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: grafica_user
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: grafica_user
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: grafica_user
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: grafica_user
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: grafica_user
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: grafica_user
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: core_cliente core_cliente_pkey; Type: CONSTRAINT; Schema: public; Owner: grafica_user
--

ALTER TABLE ONLY public.core_cliente
    ADD CONSTRAINT core_cliente_pkey PRIMARY KEY (id);


--
-- Name: core_despesa core_despesa_pkey; Type: CONSTRAINT; Schema: public; Owner: grafica_user
--

ALTER TABLE ONLY public.core_despesa
    ADD CONSTRAINT core_despesa_pkey PRIMARY KEY (id);


--
-- Name: core_empresa core_empresa_pkey; Type: CONSTRAINT; Schema: public; Owner: grafica_user
--

ALTER TABLE ONLY public.core_empresa
    ADD CONSTRAINT core_empresa_pkey PRIMARY KEY (id);


--
-- Name: core_itemorcamento core_itemorcamento_pkey; Type: CONSTRAINT; Schema: public; Owner: grafica_user
--

ALTER TABLE ONLY public.core_itemorcamento
    ADD CONSTRAINT core_itemorcamento_pkey PRIMARY KEY (id);


--
-- Name: core_itempedido core_itempedido_pkey; Type: CONSTRAINT; Schema: public; Owner: grafica_user
--

ALTER TABLE ONLY public.core_itempedido
    ADD CONSTRAINT core_itempedido_pkey PRIMARY KEY (id);


--
-- Name: core_orcamento core_orcamento_pkey; Type: CONSTRAINT; Schema: public; Owner: grafica_user
--

ALTER TABLE ONLY public.core_orcamento
    ADD CONSTRAINT core_orcamento_pkey PRIMARY KEY (id);


--
-- Name: core_pagamento core_pagamento_pkey; Type: CONSTRAINT; Schema: public; Owner: grafica_user
--

ALTER TABLE ONLY public.core_pagamento
    ADD CONSTRAINT core_pagamento_pkey PRIMARY KEY (id);


--
-- Name: core_pedido core_pedido_orcamento_origem_id_key; Type: CONSTRAINT; Schema: public; Owner: grafica_user
--

ALTER TABLE ONLY public.core_pedido
    ADD CONSTRAINT core_pedido_orcamento_origem_id_key UNIQUE (orcamento_origem_id);


--
-- Name: core_pedido core_pedido_pkey; Type: CONSTRAINT; Schema: public; Owner: grafica_user
--

ALTER TABLE ONLY public.core_pedido
    ADD CONSTRAINT core_pedido_pkey PRIMARY KEY (id);


--
-- Name: core_produto core_produto_pkey; Type: CONSTRAINT; Schema: public; Owner: grafica_user
--

ALTER TABLE ONLY public.core_produto
    ADD CONSTRAINT core_produto_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: grafica_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: grafica_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: grafica_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: grafica_user
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: grafica_user
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: grafica_user
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: grafica_user
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: grafica_user
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: grafica_user
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: grafica_user
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: grafica_user
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: grafica_user
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: grafica_user
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: grafica_user
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: core_itemorcamento_orcamento_id_a35d04b3; Type: INDEX; Schema: public; Owner: grafica_user
--

CREATE INDEX core_itemorcamento_orcamento_id_a35d04b3 ON public.core_itemorcamento USING btree (orcamento_id);


--
-- Name: core_itemorcamento_produto_id_5909c859; Type: INDEX; Schema: public; Owner: grafica_user
--

CREATE INDEX core_itemorcamento_produto_id_5909c859 ON public.core_itemorcamento USING btree (produto_id);


--
-- Name: core_itempedido_pedido_id_a233f553; Type: INDEX; Schema: public; Owner: grafica_user
--

CREATE INDEX core_itempedido_pedido_id_a233f553 ON public.core_itempedido USING btree (pedido_id);


--
-- Name: core_itempedido_produto_id_edf7cdfb; Type: INDEX; Schema: public; Owner: grafica_user
--

CREATE INDEX core_itempedido_produto_id_edf7cdfb ON public.core_itempedido USING btree (produto_id);


--
-- Name: core_orcamento_cliente_id_1e9ecb81; Type: INDEX; Schema: public; Owner: grafica_user
--

CREATE INDEX core_orcamento_cliente_id_1e9ecb81 ON public.core_orcamento USING btree (cliente_id);


--
-- Name: core_pagamento_pedido_id_126999b9; Type: INDEX; Schema: public; Owner: grafica_user
--

CREATE INDEX core_pagamento_pedido_id_126999b9 ON public.core_pagamento USING btree (pedido_id);


--
-- Name: core_pedido_cliente_id_484750be; Type: INDEX; Schema: public; Owner: grafica_user
--

CREATE INDEX core_pedido_cliente_id_484750be ON public.core_pedido USING btree (cliente_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: grafica_user
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: grafica_user
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: grafica_user
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: grafica_user
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: grafica_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: grafica_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: grafica_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: grafica_user
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: grafica_user
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: grafica_user
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: grafica_user
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_itemorcamento core_itemorcamento_orcamento_id_a35d04b3_fk_core_orcamento_id; Type: FK CONSTRAINT; Schema: public; Owner: grafica_user
--

ALTER TABLE ONLY public.core_itemorcamento
    ADD CONSTRAINT core_itemorcamento_orcamento_id_a35d04b3_fk_core_orcamento_id FOREIGN KEY (orcamento_id) REFERENCES public.core_orcamento(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_itemorcamento core_itemorcamento_produto_id_5909c859_fk_core_produto_id; Type: FK CONSTRAINT; Schema: public; Owner: grafica_user
--

ALTER TABLE ONLY public.core_itemorcamento
    ADD CONSTRAINT core_itemorcamento_produto_id_5909c859_fk_core_produto_id FOREIGN KEY (produto_id) REFERENCES public.core_produto(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_itempedido core_itempedido_pedido_id_a233f553_fk_core_pedido_id; Type: FK CONSTRAINT; Schema: public; Owner: grafica_user
--

ALTER TABLE ONLY public.core_itempedido
    ADD CONSTRAINT core_itempedido_pedido_id_a233f553_fk_core_pedido_id FOREIGN KEY (pedido_id) REFERENCES public.core_pedido(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_itempedido core_itempedido_produto_id_edf7cdfb_fk_core_produto_id; Type: FK CONSTRAINT; Schema: public; Owner: grafica_user
--

ALTER TABLE ONLY public.core_itempedido
    ADD CONSTRAINT core_itempedido_produto_id_edf7cdfb_fk_core_produto_id FOREIGN KEY (produto_id) REFERENCES public.core_produto(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_orcamento core_orcamento_cliente_id_1e9ecb81_fk_core_cliente_id; Type: FK CONSTRAINT; Schema: public; Owner: grafica_user
--

ALTER TABLE ONLY public.core_orcamento
    ADD CONSTRAINT core_orcamento_cliente_id_1e9ecb81_fk_core_cliente_id FOREIGN KEY (cliente_id) REFERENCES public.core_cliente(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_pagamento core_pagamento_pedido_id_126999b9_fk_core_pedido_id; Type: FK CONSTRAINT; Schema: public; Owner: grafica_user
--

ALTER TABLE ONLY public.core_pagamento
    ADD CONSTRAINT core_pagamento_pedido_id_126999b9_fk_core_pedido_id FOREIGN KEY (pedido_id) REFERENCES public.core_pedido(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_pedido core_pedido_cliente_id_484750be_fk_core_cliente_id; Type: FK CONSTRAINT; Schema: public; Owner: grafica_user
--

ALTER TABLE ONLY public.core_pedido
    ADD CONSTRAINT core_pedido_cliente_id_484750be_fk_core_cliente_id FOREIGN KEY (cliente_id) REFERENCES public.core_cliente(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_pedido core_pedido_orcamento_origem_id_49c459a7_fk_core_orcamento_id; Type: FK CONSTRAINT; Schema: public; Owner: grafica_user
--

ALTER TABLE ONLY public.core_pedido
    ADD CONSTRAINT core_pedido_orcamento_origem_id_49c459a7_fk_core_orcamento_id FOREIGN KEY (orcamento_origem_id) REFERENCES public.core_orcamento(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: grafica_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: grafica_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict QKLt7Hz7QlfqzSNEze8JBdHKUMpLNeZxoCXBRKRL7z5HBEDcPSMKakQYTuMnUMU

